* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f7f6f0; /* สีพื้นหลังหลักของเว็บเรา */
}

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: none; /* ยกเลิกการจำกัดความกว้างของ Vite */
  text-align: left;
}